// als je de complete bootstrap.scss inlaadt, moet je variabelen overschrijven voor het inladen ervan
// je vindt _variables.scss en alle andere Bootstrap Sass bestanden op onderstaand pad
//ook utilities overschrijven kan op deze plaats - vergeet niet de !default flag mee over te nemen

@import "./node_modules/bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css");

//extra custom code plaats je onder het inladen, bv.:
body {
  background-color: rgb(44, 44, 44);
  color: white;
  position: relative;
  padding-top: 70px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

nav,
.navbar,
.bg-dark {
  background-color: rgba(0, 0, 0, 0.5);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1.padding-bot, h2.padding-bot{
  padding-bottom: 70px;
}

iframe{
  padding-top: 30px
}

.guitar-ad {
  padding-bottom: 5rem;
}

img.legator {
  max-height: 416px;
  padding-left: 150px;
}

.banner {
  background-color: orange;
  padding: 5rem 0;
  margin-bottom: 70px;
}



.contact-form {
  padding: 1em;
  border: 1px solid #ccc;
}

.contact-form fieldset {
  border: none;
  padding: 0;
}

.contact-form legend,
.contact-form label {
  padding: 0;
  font-weight: bold;
}

.contact-form label.choice {
  font-size: 0.9em;
  font-weight: normal;
}

.contact-form input[type="text"],
.contact-form input[type="tel"],
.contact-form input[type="email"],
.contact-form select,
.contact-form textarea {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font-size: 0.9em;
  padding: 0.3em;
}

.contact-form textarea {
  height: 100px;
}

.contact-form button {
  padding: 1em;
  border-radius: 0.5em;
  background: #eee;
  border: none;
  font-weight: bold;
  margin-top: 1em;
}

.contact-form button:hover {
  background: #ccc;
  cursor: pointer;
}


footer{
  background-color: rgb(114, 114, 114);
  margin-top: 70px;
}
// wil je Bootstrap niet volledig inladen maar slechts de Sass partials en JS bestanden die je nodig hebt, ziehier hoe je dat kan doen https://getbootstrap.com/docs/5.0/customize/optimize/
